.offers {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 150px;
  margin-left: 155px;
}

.offers-slide {
  height: 300px;
}

.offers-slide img {
  max-width: 1300px;
  height: 280px;
  border-radius: 8px;
  background-color: aqua;
}

.offer-added img {
  width: 1300px;
  cursor: pointer;
}
